agent-monolith/src/main/resources/xsd/hello.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/hello"
	xmlns:tns="http://www.example.org/hello" elementFormDefault="qualified">

	<element name="helloRequest">
		<complexType>
			<sequence>
				<element name="name" type="string" />
			</sequence>
		</complexType>
	</element>

	<element name="helloResponse">
		<complexType>
			<sequence>
				<element name="hello" type="string" />
			</sequence>
		</complexType>
	</element>

</schema>